
body {
  background-color: black;
}

header{
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 40px;

}




.header_logo {
  position: absolute;
 
}
.title{
  font-family: 'Montserrat';
  color: $pink-text;
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0px 60px 0px;
  @media screen and (min-width: 320px) {
    font-size: 30px;
    line-height: 36.57px;
  }
  @media screen and (min-width: 768px) {
    font-size: 50px;
    line-height: 60.95px;
  }

}



.search-wrap {
  display: flex;
  justify-content: center;
}
.search-form{
  display: flex;
  border: 1px solid currentColor;
  border-radius: 25px;
  padding: 2px;
  background-color:$grey-text-color;
  opacity: .7;
  margin-bottom: 100px;

  
}

.search {
  border: none;
  background: transparent;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  padding: 10px 90px 10px 30px;
  font-family: 'Montserrat';
  font-weight: 400;


  @media screen and (min-width: 320px) {
    padding: 10px 40px 10px 30px;
  }
  @media screen and (min-width: 768px) {
    padding: 10px 70px 10px 30px;
  }
}

.search::placeholder{
  color: $white-color;
  
}


.submit-bttn{
  cursor: pointer;
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  border: 1px solid transparent;
  border-radius: inherit;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  opacity: 0.7;
  padding-right: 15px;
}

.submit-bttn:hover{
  opacity: 1;
}

.submit-bttn:focus,
.search-input:focus{
  outline: none;
}



.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery__image {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-top-left-radius: 42px;
  border-bottom-right-radius: 42px;
  border: 1px solid #dc56c5;
  @media screen and (min-width: 320px) {

    width: 141px;
  }
  @media screen and (min-width: 768px) {

    width: 267px;
    height: 220px;
  }
}
.info{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px 10px;
}
.info-item {
  font-family: montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.07;
  text-align: center;
  color: #dc56c5;
  
  // max-width: 199px;
  flex-wrap: wrap;
  @media screen and (min-width: 320px) {
    font-size: 19px;
    line-height: 19.5px;
    // max-width: 211px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    // max-width: 288px;
  }
}
.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}
.img-container{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.footer_text {
  font-family: montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  // max-width: 252px;
  flex-wrap: wrap;
  text-align: center;
  color: #939393;
  @media screen and (min-width: 320px) {
    font-size: 16px;
    line-height: 19.5px;
    // max-width: none;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 19.5;
    // max-width: none;
  }
}
.info-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: white;
}
.info-desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 17.07px;
  color: white;
}
