// .icon-search-icon
// .footer_text
// .icon-Vector-5\
body {
  background-color: black;
}
// <picture class="header_logo">
//   <source srcset="./images/logo-1-302w.png" media="(min-width:320px)" />
//   <source srcset="./images/logo-458w.png" media="(min-width: 768px)" />
//   <source srcset="./images/logo-2-180w.png" media="(max-width: 320px)" />
// </picture>
.header_section {
  background-image: url(../images/pic-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 364px;
  @media screen and (min-width: 320px) {
    background-image: url(../images/pic-1.png);

    height: 364px;
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/pic.png);

    height: 446px;
  }
}




.header_logo {
  position: absolute;
  left: 50;
  top: 50;
  z-index: 2;
}
.hero_text {
  padding-top: 0;
  font-family: montserrat;
  font-weight: 900;
  font-size: 18px;
  line-height: 21.94px;
  text-align: center;
  color: #dc56c5;
  @media screen and (min-width: 320px) {
    font-size: 30px;
    line-height: 36.57px;
  }
  @media screen and (min-width: 768px) {
    font-size: 50px;
    line-height: 60.95px;
  }
}
.search-wrap {
  display: flex;
  justify-content: center;
}
.search {
  width: 280px;
  height: 40px;
  display: flex;
  border-radius: 20px;
  text-align: center;
  border: none;
  color: #939393;
  background-color: rgba(255, 255, 255, 0.2);

  @media screen and (min-width: 320px) {
    width: 336px;
  }
  @media screen and (min-width: 768px) {
    width: 288px;
    height: 40px;
  }
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.gallery__image {
  height: 120px;
  width: 120px;
  object-fit: cover;
  border-top-left-radius: 42px;
  border-bottom-right-radius: 42px;
  border: 1px solid #dc56c5;
  @media screen and (min-width: 320px) {
    height: 120px;
    width: 141px;
  }
  @media screen and (min-width: 768px) {
    width: 267px;
    height: 220px;
  }
}
.info-item {
  font-family: montserrat;
  font-weight: 700;
  font-size: 14px;
  line-height: 17.07;
  text-align: center;
  color: #dc56c5;
  max-width: 199px;
  flex-wrap: wrap;
  @media screen and (min-width: 320px) {
    font-size: 19px;
    line-height: 19.5px;
    max-width: 211px;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    max-width: 288px;
  }
}
.event-card {
  padding: 15px;
}
.footer_text {
  font-family: montserrat;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
  max-width: 252px;
  flex-wrap: wrap;
  text-align: center;
  color: #939393;
  @media screen and (min-width: 320px) {
    font-size: 16px;
    line-height: 19.5px;
    max-width: none;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 19.5;
    max-width: none;
  }
}
.info-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 19.5px;
  color: white;
}
.info-desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 17.07px;
  color: white;
}
