<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button class="modal__btn__close" data-modal-close>
      <svg class="modal__btn__close__icon" width="25" height="25">
        <use href="./images/icons/icons.svg#icon-close"></use>
      </svg>
    </button>

 

    <div class="content__event">
      

       <!-- <div class="small__img">
        <img
          class="modal__img__small"
          src="/src/images/pic-2.png"
          alt="no png"
          width="150"
        />
      </div>

      <div class="event__details">
        <div class="large__img">
          <img
          class="modal__img__large"
          src="/src/images/pic-2.png"
          alt="no png"
          width="427"
        />
        </div>

       
          <div class="info__item">
            <h3 class="info__item__title" >INFO</h3>
            <p class="info__item__text">Atlas Weekend is the largest music festival
              in Ukraine.More than 200 artists will create
              a proper music festival atmosphere on 10 stages</p>
          </div>
          <div class="info__item">
            <h3 class="info__item__title" >WHERE</h3>
            <span class="info__item__text">2023.06.202 </br> 20:00 UKRAPNE </span>
          </div>
          <div class="info__item">
            <h3 class="info__item__title" >WHEN</h3>
            <span class="info__item__text">Kyiv, UKRAİNE </br> VDNH </span> 
          </div>
        

        <div class="info__item">
          <h3 class="info__item__title who" >WHO</h3>
          <span clas="info__text">THe Black Eye </span> 
      </div>
      
      <div class="price__info">
        <h3 class="info__item__title" >PRICES</h3>
        
        <div class="price__detail">

        <div class="price__standart">
          <div class="price__text">
            <svg class="price__icon" width="29" height="19">
            <use href="./images/icons/icons.svg#icon-barcode2"></use>
          </svg>  <span class="info__item__text">Standart </span> 
          <a href="#" target="_blank">         
            <button class="ticket__btn">BUY TİCKETS</button>
           </a>
          </div>
        </div>

        <div class="price__vip">
          <div class="price__text"><svg class="price__icon" width="29" height="19">
            <use href="./images/icons/icons.svg#icon-barcode2"></use>
          </svg>  <span class="info__item__text">Vip </span> 
          <a href="#" target="_blank">


          
          
            <button class="ticket__btn">BUY TİCKETS</button>
           </a>
          </div>
        </div>






      </div>
    </div>    
      </div>

    <div class="more__info">
      <a href="#" target="_blank">
      <button class="more__info__btn" >MORE FROM THİS AUTHOR</button>
     </a>
        
      </div> 
     -->


     <div class="price__text"><svg class="price__icon" width="29" height="19">
      <use href="./images/icons/icons.svg#icon-barcode2"></use>
    </svg>  <span class="info__item__text">Vip </span> 


      
    </div>
   
  </div>
</div>
