<img
  srcset="
    ./images/logo-458w.png   458w,
    ./images/logo-1-302w.png 302w,
    ./images/logo-2-180w.png 180w
  "
  class="header_logo"
/>
<h1 class="hero_text">
  FIND BEST EVENTS <br />
  AROUND THE WORLD.
</h1>

<input
  class="search_text"
  id="searchbar"
  type="search"
  placeholder="Start searching"
/>
<svg class="icon icon-search-icon" width="12px" height="12px">
  <use xlink:href="#icon-search-icon"></use>
</svg>

<p>
  &copy; 2023 | All Rights Reserved | <br />
  Developed with &hearts; by GoIT Students
</p>
<svg class="icon icon-Vector-5" width="6px" height="9px">
  <use xlink:href="#icon-Vector-5"></use>
</svg>
