
<header>
    
  <a href="index.html"></a>
  <picture>
    <source media="(min-width:320px)" srcset="./images/logo-1-302w.png" />
    <source media="(min-width:768px)" srcset="./images/logo-458w.png" />
    <img
      src="./images/logo-2-180w.png"
      alt="rockband"
      style="width: auto"
    />
  </picture>
  </a>

  <h1 class="title">FIND BEST EVENTS <br> AROUND THE WORLD</h1>
 
  
  <div class="search-wrap">
  <form action="" class="search-form">
      <input type="text" placeholder="Start Searching" class="search" name="searchQuery">
      <button type="submit" class="submit-bttn">Search</button>
  </form>
</div>
  
</header>
